"*":
  Termrk:
    defaultHeight: 361
    fontFamily: "Ubuntu Mono"
    fontSize: "10pt"
    terminalColors: [
      "#293e50"
      "#c6372f"
      "#00af63"
      "#f99e35"
      "#0e7fb7"
      "#923cab"
      "#00a186"
      "#bdc3c7"
      "#273b4c"
      "#ef4941"
      "#00a05a"
      "#f4c63d"
      "#1894d6"
      "#1894d6"
      "#00bd9b"
      "#ebf0f1"
      "#000000"
      "#f0f0f0"
    ]
  "asciidoc-preview":
    compatMode: true
  "autocomplete-python":
    useKite: false
  core:
    audioBeep: false
    disabledPackages: [
      "atom-bracket-highlight"
      "welcome"
      "Termrk"
      "markdown-preview-plus"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/victor.alves/work"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
  editor:
    autoIndent: false
    fontSize: 11
  "exception-reporting":
    userId: "efde1eeb-4d0e-319b-5937-233f5d2b20fd"
  "git-plus":
    general:
      _analyticsUserId: "041b314c-fa95-44b8-bc79-ed2e47ccbf7c"
  "go-config": {}
  "go-plus":
    panelDisplayMode: "closed"
    test:
      runTestsOnSave: false
      runTestsWithShortFlag: false
  "gometalinter-linter": {}
  linter: {}
  "one-dark-ui":
    layoutMode: "Compact"
  welcome:
    showOnStartup: false
