"*":
  Termrk:
    defaultHeight: 361
    fontFamily: "Ubuntu Mono"
    fontSize: "10pt"
    terminalColors: [
      "#293e50"
      "#c6372f"
      "#00af63"
      "#f99e35"
      "#0e7fb7"
      "#923cab"
      "#00a186"
      "#bdc3c7"
      "#273b4c"
      "#ef4941"
      "#00a05a"
      "#f4c63d"
      "#1894d6"
      "#1894d6"
      "#00bd9b"
      "#ebf0f1"
      "#000000"
      "#f0f0f0"
    ]
  "asciidoc-preview":
    compatMode: true
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
    "atom-ide-terminal":
      fontFamily: "Meslo LG S for Powerline"
  "atom-material-ui":
    colors: {}
  "autocomplete-python":
    useKite: false
  core:
    audioBeep: false
    automaticallyUpdate: false
    disabledPackages: [
      "atom-bracket-highlight"
      "welcome"
      "Termrk"
      "markdown-preview-plus"
      "minimap"
      "platformio-ide"
      "platformio-ide-debugger"
      "asciidoc-preview"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/victor.alves/work"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
  editor:
    autoIndent: false
    fontFamily: "Meslo LG S for Powerline"
    fontSize: 10
  "exception-reporting":
    userId: "efde1eeb-4d0e-319b-5937-233f5d2b20fd"
  "file-icons":
    coloured: false
  "git-plus":
    general:
      _analyticsUserId: "041b314c-fa95-44b8-bc79-ed2e47ccbf7c"
  "go-config": {}
  "go-plus":
    lint: {}
    panel:
      currentHeight: "11.666666666666666vh"
      displayMode: "closed"
      fontSize: "0.9em"
    panelDisplayMode: "closed"
    test:
      runTestsOnSave: false
      runTestsWithCoverage: false
      runTestsWithShortFlag: false
  "gometalinter-linter": {}
  linter: {}
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
    useBusySignal: false
  minimap:
    displayCodeHighlights: false
  "one-dark-ui": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "tool-bar":
    position: "Left"
    visible: false
  "tree-view":
    hideIgnoredNames: true
  "vim-mode-plus":
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
  welcome:
    showOnStartup: false
".go.source":
  editor:
    autoIndent: true
".gohtml.html.text":
  editor:
    autoIndent: true
".gotemplate.source":
  editor:
    autoIndent: true
".haml.text":
  editor:
    autoIndent: true
